/* Import reset scss file */
@import 'reset';

/* Define variables */
$primary-color: #ffc33b;
$white: #ffffff;
$black: #000000;
$dark-grey: #494c4c;
$default-blue: #003bb2;

.navbar-default {
  background-color: $black;

  .navbar-brand {
    color: $primary-color;
  }
  .navbar-brand:hover {
    color: $primary-color;
  }
  .navbar-nav {
    li {
      a {
        color: $primary-color
      }
      a:hover {
        color: $white;
      }
    }
    .active {
      a {
        color: $white;
        background-color: $black;
      }
    }
  }
}
