/* Import reset scss file */
@import 'reset';

/* Define variables */
$primary-color: #ffc33b;
$white: #ffffff;

.navbar-brand {
  a {
    margin: 0 auto;
    color: $primary-color;
  }
  a:hover {
    color: $white;
  }
}
