/* Import reset scss file */
@import 'reset';

/* Define variables */
$primary-color: #ffc33b;
$primary-hover: #ffdb3b;
$white: #ffffff;
$black: #000000;
$warning: #ff5b41;
$dark-grey: #494c4c;
$light-grey: #bcbcbc;
$default-blue: #002aa6;
$light-blue: #1992ff;
$default-green: #00b200;

body {
  background-color: $dark-grey;
}

.App {
  .container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.navbar {
  background: $black;
  border-bottom: .05px solid $white;
  border-radius: 0;
  padding: 0 2em .1em 2em;
  margin-bottom: 0;

  .navbar-brand {
    color: $primary-color;
  }
  .navbar-brand:hover {
    color: $primary-color;
  }
  .navbar-collapse {

    ul {
      li {
        a {
          color: $primary-color;
        }
        a:hover {
          color: $primary-hover;
        }
      }
      .active {

        a {
          color: $primary-color;
          background-color: $dark-grey;
        }
        a:hover {
          background-color: $dark-grey;
          color: $primary-hover;
        }
      }
    }
  }
}

.Search {
  padding: 5px 0 0 0;
  background-color: $light-grey;

  form {
    padding: 10px;
    margin: 0 auto;
    border-bottom: 2px solid $white;

    .form-group {
      text-align: left;
    }

    button {
      color: $black;
      background-color: $white;
      padding: 0.4em 0.8em;
      border: 0.15em solid $default-green;
      border-radius: 12%;
      transition: 0.2s;
    }
    button:hover {
      background-color: $default-green;
      color: $white;
    }
  }
}

.Addresses {
  max-width: 100%;
  margin: 0 auto;
  border-bottom: 2px solid $white;
  background-color: $dark-grey;

  .row {
    background-color: $black;
    padding: .2em 0 .6em 0;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-content: stretch;
    flex-wrap: wrap;

    h4 {
      color: $primary-color;
    }
    .details {
      padding-bottom: .6em;
      margin: 0 auto;

      article {
        text-align: left;
        color: $light-blue;
        border: .1em solid $white;
        padding: .5em;
      }
      .yes {
        color: $warning;
      }
    }
    .address-table {
      margin: 0 auto;

      .table {
        max-width: 20em;
        margin: 0 auto;

        tr {
          color: $primary-color;
          text-align: left;
          border-color: $light-grey;
          background-color: $black;
        }
        tr:hover {
          background-color: #00000089;
        }

        .scam {
          text-align: center;
      }
    }
      button {
        color: $white;
        background: #00000000;
        border-color: #00000000;
      }
      p {
        color: $white;
        margin-bottom: 0;
      }
      .blacklisted {
        color: $warning;
      }
    }
  }
}
